.container {
  background-color: white;

  border-radius: 3px;

  width: 35%;
  height: 40%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  p {
    color: #4d4d4d;
  }

  .chatroom {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .message-list {
      height: 100%;
      width: 100%;
      padding: none;
      margin: none;
      overflow-y: scroll;

      display: flex;
      flex-direction: column-reverse;
      align-items: flex-end;

      .left {
        align-self: flex-start;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;

        &-name {
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      .right {
        display: flex;
        flex-direction: row-;
        justify-content: flex-start;

        &-name {
          padding-left: 10px;
        }
      }

      li {
        padding: 10px 20px 10px 0px;
      }
    }

    .header {
      width: 100%;
      height: 37px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: stretch;
      border-bottom: 0.7px solid #cccccc;

      &-text {
        height: 28.7px;
        padding-right: 8%;
        text-align: center;
        vertical-align: middle;
        line-height: 28.7px;
      }

      .back {
        background-color: #cc6666;
        width: 22%;
        // height: 35px;
        height: 28.7px;
        color: white;
        border-radius: 0;
        border: none;
      }
    }

    .message {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: stretch;
      width: 100%;

      button {
        width: 25%;
        border-radius: 0;
        height: 28.7px;
      }

      &-text {
        width: 100%;
        height: 26px;
        border: none;
        border-top: 0.7px solid #cccccc;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .input {
    width: 75%;
    height: 45%;

    margin-top: 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
      height: 35px;
      width: 100%;
    }

    .nav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }

    .back {
      background-color: #cc6666;
      border: none;
      color: white;
      border-radius: 2px;
      height: 35px;
      width: 100%;
    }

    p {
      margin-bottom: 5px;
      padding-left: 5px;
    }

    .text {
      border-radius: 1px;
      border: 0.7px solid #cccccc;
      width: 99%;
      height: 26px;

      padding-left: 5px;

      &:focus {
        outline: none;
      }
    }
  }
}

.active {
  background-color: #53c68c;
}

.disabled {
  background-color: #cccccc;
}

.button {
  border: none;
  color: white;
  border-radius: 2px;

  &:focus {
    outline: none;
  }
}
